<!DOCTYPE html>
<html>
  <head>
    <title>Is It Vegan?</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'is-it-vegan-bundle' %>
  </head>

  <body>
    <%= react_component("App", props: {}, prerender: false) %>

    <%= yield %>
  </body>
</html>
